*{
    box-sizing: border-box;
}
body{
    background-color: #ECF0F3;
    font-family: 'Quattrocento Sans', sans-serif;
}

/* HEADER */
#header-nav{
   background-color: white;
   border-radius: 0; 
   border: 0;
   position: static;
}

#logo-img{
    width: 150px;
    margin: 10px 0px 5px 0px;
}
h1{
    text-transform: uppercase;
    line-height: 35px;
    color: #42a1f5;
    font-family: 'Chau Philomene One', sans-serif;
}
.navbar-brand{
    margin-bottom: 100px;
}
.navbar-brand > p{
    vertical-align: middle;
    font-family: 'Quattrocento Sans', sans-serif;
}
.navbar-brand > a:hover{
    text-decoration: none;
    color: #42a1f5;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a {
    color: #42a1f5;
    text-align: center;
}
.nav-hover:hover{
    background-color: #ECF0F3;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 5px rgb(191, 190, 224);
    
}
#nav-list a span{
    font-size: 1.8em;
}

#phone{
    margin-top: 5px;
    margin-left: 30px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgb(188, 195, 207);
}
#phone a span{
    font-size: 1em;
    cursor: pointer;
}
#phone a{
    text-align: right;
    padding-bottom: 0;
}

#phone div{
    color: black;
    text-align: right;
    padding-right: 15px;
}